<template name="navbar">
  <div class="header_region clearfix">
          <div class="class_nav initial_nav">
            <ul>
              <li> <a href="/home" class="home_btn bd act"><span><i class="icon-uniF015"></i>首页</span></a> </li>         
              <li> <a href="/profile" class="home_btn bd "><span><i class="icon-user"></i>我的</span></a> </li>
              <li> <a href="/more" class="home_btn bd "><span><i class="icon-add"></i>更多</span></a> </li>
         
            </ul>
          </div>
        </div>
</template>